<%- include('partials/header') -%>
<p><%= message %></p>
<form id="weatherForm" action="" data-form-results="formResults">
    <input type="text" id="addressInput" placeholder="Address">
    <button type="submit">Search</button>
</form>
<div id="formResults"></div>
<script src="/js/weatherForm.js"></script>
<%- include('partials/footer') -%>